@keyframes hiddenHint{
	0% {opacity: 0};
	90% {
		opacity: 0
	}
	91%{
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@for $i from 1 through 13 {
	.Games-layout .build .char:nth-child(#{$i}){
		-webkit-transform:  rotate(($i *-10.7 +80)+deg);
		-moz-transform:  rotate(($i *-10.7 +80)+deg);
		-ms-transform:  rotate(($i *-10.7 +80)+deg);
		-o-transform: rotate(($i *-10.7 +80)+deg) ;
		transform:  rotate(($i *-10.7 +80)+deg);
	}
}
@keyframes OpacityAnim{
	0%{opacity: 0}
	50%{opacity: 1}
	100%{opacity: 0}
}
.OpacityAnim{
	animation: OpacityAnim 2s infinite;
}
.Games-layout{
	.input-field label.active{
		transform: translateY(-14px) translateX(20%) scale(0.8);
	}
	.input-field.col label{
		left: 0;
	}
	.section-counter{
		text-align: center;
		line-height: 2;
	}
	.hint {
		position:absolute;
		bottom: 50px;
		animation: hiddenHint 30s 1;
		right: 50px;
		cursor:pointer;
		direction:rtl;
		color: $color-cyan;
		img {
			width: 35px;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
	.risk-buttons{
		margin-top: 40px;
	}
	padding: 40px 40px 0 40px;
	.header {
		a {
			display:inline-block;
			margin-left: 30px;
		}
	}
	.main-content {
		padding-left: 4%;
		margin-top: 60px;
		.main-buttons {
			margin-top: 80px;
			.btn {
				margin-left: 20px;
			}
		}
		.main-tilte {
			margin-right: 40px;
			span{
				display:block;
				&:first-child{
					margin-bottom: 15px;
					font-size: 3em;
				}
				&:last-child{
					font-size: 1.4em;
					line-height: 1.5;
					max-width: 750px
				}
			}
		}
		.helper {
			line-height: 2em;
			text-align: justify;
			overflow: hidden;
			margin-top: 58px;
		}
		.openMind {
			figure{
				text-align: center;
				margin: 50px 0;
				img{
					width: 100%;
					max-width: 500px;
				}
			}
		}
		.enjoy{
			.playButton {
				margin: 100px 0;
				border: 0;
				background: transparent;
				box-sizing: border-box;
				width: 0;
				height: 74px;
				border-color: transparent transparent transparent $color-cyan;
				transition: 100ms all ease;
				cursor: pointer;
				border-style: solid;
				border-width: 37px 0 37px 60px;
			}
			.playButton.paused {
				border-style: double;
				border-width: 0px 0 0px 60px;
			}
		}
		.success{
			.progress {
				margin-bottom: 50px;
			}
			#gameComponents .white-text:first-child{
				margin-top: 100px;
			}
			.btn-floating {
				width: 100px;
				height: 100px;
				i.material-icons{
					font-size: 5em;
					margin-top: 30px;
				}
			}
			#SuccessTry,  #SuccessWinning{
				margin-top: 80px;
				.white-text{
					font-size: 2em;
					margin-bottom: 50px;
				}
			}
		}
	}
	.yourself {
		padding-top: 50px;
		.final-image{
			width: 70%;
			margin: auto;
			max-width: 300px;
		}
		.userImage{
			position:absolute;
			background:$color-dark;
			img{
				height: 100%;
			}
		}
		.hide-on-small-only{
			width: 700px;
			position:relative;
			margin: auto;
			.userImage {
				position: absolute;
				bottom: 32px;
				right: 53px;
				width: 18px;
				height: 24px;
			}
			> img{
				width: 700px
			}
		}
		.hide-on-med-and-up {
			width: 300px;
			position:relative;
			margin: auto;
			> img{
				width: 300px
			}
			.userImage {
				position: absolute;
				bottom: 104px;
				right: 37px;
				width: 38px;
				height: 55px;
			}
		}
	}
	.build{
		margin-top: 70px;
		.btn-floating{
			width: 100px;
			height: 100px;
			border: 11px solid $color-dark-grey;
			&:first-child{
				margin-left: 53px;
			}
			&[disabled = 'disabled']{
				background-color:$color-cyan !important;
				animation: OpacityAnim 2s infinite;
			}
		}
		.mainText {
			font-size: 5em;
			height: 330px;
			margin-left: 4%;
			font-weight: bold;
			position:relative;
			.char {
				position:absolute;
				right:0;
				display:block;
				user-select:none;
				text-align:center;
				left:0;
				width: 50px;
				line-height: 528px;
				color: $color-dark;
				transform-origin: 0px -50%;
				height: 196px;
				margin: auto;
				&.active{
					color: $color-cyan;
				}
			}
		}
	}
	.truth{
		.secret{
			font-size: 8em;
			color:white;
			text-align: center;
			user-select: none;
			margin: 100px 0 0 0;
			color: #272727;
			&.open {
				transition: color ease-out 6s;
				color: white;
				margin-bottom: 100px;
			}
		}
		.successMessage{
			h2{
				font-size: 2em;
				margin: 100px 0;
			}
		}
	}
	.marvelous{
		div:first-child img{
			max-width: 250px;
		}
		.ask {
			font-size: 2em;
			> div {
				img {
					vertical-align: middle;
					margin: -17px 0 0 5px;
					max-width: 470px;
				}
				margin: 30px 0;
			}
		}
	}
	.sidebar-image {
		max-width: 120px;
		margin: 0 auto 40px auto;
	}
	.steps {
		max-width: 130px;
		margin: 0 auto;
		li {
			margin-bottom: 20px;
			span:first-child{
				display:inline-block;
				background: #424242;
				width: 30px;
				color:white;
				margin-right: 10px;
				line-height: 35px;
				height: 30px;
			}
			&:last-child {
				span:first-child{
					background: #00e5ff;
					color:#424242;
				}
				span:last-child{
					color:#00e5ff !important;
				}
			}
		}
	}
}
.MainLogo{
	position: absolute;
	left: 5%;
	top: 8%;
	width: 120px;
}
.Plans {
	.main-title {
		font-size: 2em;
		line-height: 2;
	}
	.dark-button {
		border: 3px solid $color-cyan;
		box-sizing:border-box;
		height: 54px;
		line-height: 50px;
		border-radius: 3px;
	}
}
.Plans-items{
	.input-field label.active {
		transform: translateY(-14px) translateX(20%) scale(0.8);
	}
	.input-field.col {
		padding: 0;
		label {
			left: 0;
			right: 0;
		}
		label.error {
			position:relative;
			font-size: 11px;;
			color: #F44336;
		}
	}
	> .row > div{
		position:relative;
		height: 550px;
		margin-bottom: 50px;
		.logo {
			width: 200px;
			margin: 20px auto;
		}
		p {
			text-align-last: center;
			line-height: 2em;
		}
		.price {
			position:absolute;
			bottom: 70px;
			right: 0;
			left: 0;
			color:white;
			direction:ltr;
			font-size: 1.5em;
			text-align: center;
			span:last-child {
				font-weight: bold;
			}
		}
		> .btn-large, .dark-button{
			position:absolute;
			bottom: 0;
			right: 0;
			left:0;
			width: 80%;
			margin: auto;
			display:block;
		}
	}
}
.Introduction-game{
	.free-text{
		padding-top: 80px;
	}
	.checkout-text{
		margin-top: 100px;
		text-align: justify;
		line-height: 2.5;
	}
	.main-logo {
		position: absolute;
		left: 5%;
		top: 8%;
		width: 200px;
	}
	.user-image {
		margin: 50px auto 30px auto;
		width: 200px;
		figcaption{
			margin-top: 40px;
			font-size: 1.3em;
		}
	}
	.main-content{
		line-height: 2.5em;
		max-width: 500px;
		text-align: justify;
		margin: 20px auto;
	}
	.final-content{
		border: 3px solid #00e5ff;
		padding: 10px 40px;
		line-height: 2;
		max-width: 900px;
		margin: 20px auto;
		text-align: justify;
		border-radius: 10px;
		white-space: pre-line;
	}
	.btn {
		font-size: 1.5em;
		width: 250px;
		margin-top: 50px;
	}
}
.X-game{
	.answer {
		text-align: center;
		span {
			width: 80px;
			border-bottom: 2px solid $color-cyan;
			margin: 0 20px;
			display: inline-block;
			height: 80px;
			color: $color-cyan;
			font-size: 2em;
			line-height: 80px;
			position:relative;
			vertical-align: top;
			&.valid:after , &.invalid:after {
				content: '';
				font-size: 14px;
				position: absolute;
				bottom: -27px;
				line-height: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			&.valid:after {
				content: 'OK';
				color: #4CAF50;
			}
			&.invalid:after {
				content: 'Fail';
				color: #F44336;
			}
		}
	}
	.letters-wrap{
		text-align: center;
		margin: 80px 0;
	}
	.winnigMessage {
		margin-top: 100px;
		font-size: 1.5em;
		line-height: 1.5em;
		.btn {
			margin-top: 50px;
		}
	}
	.letters span {
		width: 40px;
		height: 40px;
		background: $color-dark-grey;
		display:inline-block;
		margin: 7px;
		vertical-align: top;
		color:white;
		user-select: none;
		text-align: center;
		line-height: 40px;
		cursor:pointer;
		transition: all ease .3s;
		&:hover {
			background: $color-cyan;
		}
	}
}
.Plans{
	padding-top: 50px;
}
@media screen and (max-width: 992px) {
	.Games-layout{
		padding: 20px 15px;
		.sidebar{
			margin-top: 50px;
		}
		.truth .secret{
			font-size: 4em;
			margin: 20px 0;
		}
		.hint {
			position:static;
			margin-top: 10px;
			clear:both;
			text-align: center;
		}
		.steps{
			text-align: center;
			margin-top: 20px;
			max-width: 100%;
			li {
				display:inline-block;
				span:last-child{
					display:none;
				}
				span:first-child{
					margin-right: 0;
					width: 23px;
					line-height: 27px;
					height: 23px;
					font-size: 1em;
				}
			}
			
		}
		.main-content {
			margin-top: 30px;
			.main-tilte{
				margin-right: 0;
				line-height: 3em;
				span:first-child{
					margin-bottom: 5px;
				}
				span:last-child{
					font-size: .8em;
					line-height: 1.5em;
				}
			}
			.helper {
				margin: 15px 0 30px 0;
			}
		}
		.success #SuccessTry .white-text, .success #SuccessWinning .white-text{
			font-size: 1.5em !important;
		}
		.marvelous .ask {
			font-size: 1.3em;
		}
		.build {
			margin-top: 20px;
			.buttons {
				margin-bottom: 55px;
			}
			.mainText {
				margin-left: 0;
				font-size: 2em;
				height: 170px;
				.char {
					left: 22px;
					width: 50px;
					line-height: 190px;
					transform-origin: 16px -49%;
					height: 98px;
					margin: auto;
				}
			}
		}
	}
	.Introduction-game .main-logo{
		position: absolute;
		top: 10px;
		left: 10px;
		width: 80px;
	}
	.MainLogo{
		position: absolute;
		top: 10px;
		left: 10px;
		width: 80px;
	}
	.Games-layout .sidebar-image{
		position: absolute;
		top: 10px;
		left: 10px;
		width: 80px;
	}
	.X-game{
		.answer span{
			width: 40px;
			font-size: 1.5em;
			margin:0 5px 40px 5px;
			height: 35px;
			line-height: 35px;
		}
		.letters-wrap{
			margin: 30px 0;
		}
	}
}