.Login {
	background: #262626;
	width: 100%;
	min-height: 100vh;
	@include displayFlex();
	align-items: center;
	justify-content: center;
	figure {
		margin: auto auto 30px auto;
		width: 95%;
		max-width: 270px;
		animation: OpacityForLogo 1 20s;
	}
}
@keyframes OpacityForLogo {
	0% {opacity: 0;}
	15% {
		opacity: 0;
	}
	16% {
		opacity:0.01;
	}
	100% {
		opacity: 1;
	}
}
@media screen and (max-width: 980px) {
	.Login figure{
		max-width: 220px;
	}
}