@import 'vendors/reset.scss';

$color-blue : #00e6fe;
$color-black : #262626;


body {
  background-color: $color-black;
  font-size: 50px;
  color: $color-blue;
  font-family: magical;
}
.display-none {
  display: none;
};

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 45px;
  align-items: center;
  #progressIndicator {
    width: 90%;
    margin: 50px 0;
    .progress {
      border-radius: 10px;
      height:10px;
    }
    .determinate {
      height: 10px;
    }
  }
  .action-button {
    margin: 50px 0;
    width: 80px;
    height: 80px;
    border: none;
    background-color: $color-black;
    border: 1px solid $color-blue;
    cursor: pointer;
    color: $color-blue;
    border-radius: 80px;
    transition: all ease .2s;
    i {
      font-size: 45px;
    }
    &:hover{
      background: $color-blue;
      i {
        color: $color-black;
      }
    }
  }
  #scoreContainer {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 50px 0;
  }
  #questionContainer {
    width: 100%;
    font-size: 40px;
    text-align: center;
    span:nth-child(2) i, span:nth-child(5) i {
      font-size: 30px;
    }
  }
}

.timer {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}
.bullets {
  width: 80%;
  margin-top: 10px;
  text-align: center;
  .bullet-wrapper {
    display: inline-block;

    i {
      color: red;
      font-size: 40px;
    }
  }
}

.start-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.startButton {
  background-color: $color-blue;
  padding: 15px;
  outline: none;
  cursor: pointer;
  border: none;
  min-width: 150px;
  font-size: 25px;
  border-radius: 50px;
}