.Order {
	#FormContainer{
		padding-top: 50px;
	}
	.file-field img {
		width: 100px;
	}
	.file-field .btn {
		width: 230px;
		padding: 0;
		margin-top: 25px;
	}
	.factor {
		line-height: 50px;
	}
	.intro {
		min-height: 100vh;
		width: 100%;
		@include displayFlex();  
		align-items: center;
		justify-content: center; 
		flex-direction: column;
		h1 {
			font-size: 2.7em;
		}
		figure {
			margin: 0 auto 70px auto;
			width: 95%;
			max-width: 270px;
		}
		.btn {
			font-size: 1.5em;
			margin: 60px auto 0 auto;
			display: 	block;
			width: 300px;
		}
	}
	.combobox {
		float:right;
		width: 30%;
		margin:0 0 20px 5%;
		&:last-child {
			margin-left: 0;
		}
	}
	.input-field.col {
		padding: 0;
		label {
			left: 0;
			right: 0;
		}
		label.error {
			position:relative;
			font-size: 11px;;
			color: #F44336;
		}
	}
	.file-field {
		position:relative;
		.left {
			margin-top: -40px;
		}
		.file-path-wrapper{
			width: 67%;
			padding-left: 10px;
			display: inline-block;
			margin-top: 30px;
		}
		label.error {
			position:absolute !important;
			bottom: -21px;
			right: 0;
			text-align: center;
			font-size: 10px;
			line-height: 1.2;
		}
	}
	.input-field label.active {
		transform: translateY(-14px) translateX(20%) scale(0.8);
	}
	.input-field > p {
		margin:15px 0;
		overflow: hidden;
		position: relative;
		em {
			position: absolute;
			bottom: 55px;
			right: 35px;
			font-size: .81em;
		}
		img {
			width: 100px;
			vertical-align: middle;
			margin-right: 15px;
			cursor: pointer;
			float: left;
		}
	}
}
@media screen and (max-width: 980px) {
	.Order {
		.combobox {
			margin-left: 0;
			width: 100%;
		}
		.intro  {
			figure {
				max-width: 220px;
				margin: 20px auto 30px auto;
			}
			h1{
				font-size: 2em;
				line-height: 2em;
			}
			.btn-large {
				margin-top: 40px;
				width: 200px;
				padding: 0;
			}
		}
	}
}