@font-face {
	font-family: iran-sans;
	src: url("IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("IRANSansWeb.woff") format("woff"), url("IRANSansWeb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: magical;
	src: url("IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("IRANSansWeb.woff") format("woff"), url("IRANSansWeb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}