$color-dark : #262626;
$color-dark-grey: #424242;
$color-cyan: #00e5ff;
.displayNone {
	display:none;
}
.Dark-text {
	color: $color-dark;
}
.fullWidth{
	width: 100%;
}
.paragraph{
	line-height: 1.8em;
}
.paragraph.big-font{
	line-height: 2.1em;
}
.directionLtr { 
	direction:ltr;
}
.directionRtl{
	direction: rtl;
}
.justify-align{
	text-align: justify;
}
.huge-font{
	font-size: 1.3em;
}
.big-font {
	font-size: 1.16em;
}
.Dark-color {
	background-color: $color-dark;
}
.overflow-hidden {
	overflow: hidden;
}
.padding-free{
	padding: 0 !important;
}
.margin-free{
	margin: 0 !important;
}
@mixin displayFlex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

//variables 
